@import '../common/styles/sass/mixins';

.header {
  width: 100%;
  height: 70px;
  padding: 23px 50px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background: transparent;
  @include flex(row, space-between, center);
  animation: appearance 200ms ease-in normal forwards 1;

  @keyframes appearance {
    from {top: -100%}
    to {top: 0}
  }

  & > a {
    display: inline-block;
    font-size: 1.25rem;
    line-height: inherit;
    margin-right: 1rem;
    padding-bottom: 0.3125rem;
    padding-top: 0.3125rem;
    white-space: nowrap;
    transition: all .15s ease-in-out;
    background-color: transparent;
    cursor: pointer;
    & > img {
      width: 110px;
    }
  }

  .navButtonContainer {
    color: $bgColorPrimary;
  }
}