@import '../../common/styles/sass/variables.scss';
@import '../../common/styles/sass/mixins.scss';

.skill {
  width: 200px;
  background-color: $bgColorPrimary;
  display: flex;
  flex-direction: column;

  .image {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    @include flex(row, center, center);
    background-repeat: no-repeat;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }

  .skillInfo {
    padding: 25px 0;

    .skillTitle {
      @include text($titleFontFamily, 16px, 700, 1.2, normal, $primaryTextColor);
      letter-spacing: 1px;
      margin: 0 0 5px;
    }

    .description {
      @include text($textFontFamily, 12px, 400, 1.8, normal, $secondaryTextColor);
    }
  }
}