.textWrapper {
    width: 100%;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.typingText {
    /*font-size: 36px;
    font-weight: 700;
    color: #0ef50e;*/
}

.endCursor:after {
    content: "|";
}

.blinkingCursor:after {
    content: "|";
    animation: blink step-start 1s infinite;
}

@keyframes blink {
    50% {
          opacity: 0;
      }
}