@import '../../styles/sass/variables.scss';
@import '../../styles/sass/mixins.scss';

.title {
    margin: 0 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    h2 {
        margin: 0;
        @include text($titleFontFamily, 54px, 700, 1.2, normal, $primaryTextColor);
        text-transform: capitalize;
        letter-spacing: 5px;
    }

    .strip {
        width: 75px;
        height: 4px;
        background: $primaryColor;
        position: relative;

        &::before,
        &::after {
            content: '';
            width: 4px;
            height: 100%;
            background: $bgColorPrimary;
            position: absolute;
            top: 0;
        }

        &::before {
            left: 0;
            animation: leftDotAnimation 3s infinite linear;
        }

        &::after {
            left: 8px;
            animation: rightDotAnimation 3s infinite linear;
        }
        
        @keyframes leftDotAnimation {
            from { left: 0 }
            to { left: 75px }
        }

        @keyframes rightDotAnimation {
            from { left: 8px }
            to { left: 83px }
        }
    }
}



