@import '../common/styles/sass/variables.scss';

.skillsBlock {
  /*min-height: 100vh;*/
  height: calc(100vh - 200px);
  width: 100%;
  background-color: $bgColorPrimary;
  padding: 100px 0;
  position: relative;
  z-index: 2;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .skills {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
      margin-top: 30px;

      .skillsLevel {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        @media screen and (max-width: 766px) {
          flex-direction: column;
          align-items: center;
        }
      }

      @media screen and (max-width: 628px) {

      }
    }
  }
}