@import '../../styles/sass/variables.scss';

.container {
    height: 25px;
    position: relative;
    margin-bottom: 30px;
}

.input {
    background: $bgColorSecondary;
    font-size: 16px;
    padding: 10px;
    display: block;
    height: 10px;
    width: 90%;
    border: none;
    caret-color: $primaryColor;
    border-radius: 10px;
}

.input:focus {
    outline: none;
}

.label {
    color: #999;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus ~ .label,
.input:valid ~ .label:focus {
    top: -15px;
    font-size: 14px;
    color: $primaryColor;
}

.inputError:focus ~ .label,
.inputError:valid ~ .label:focus {
    top: -15px;
    font-size: 14px;
    color: red;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: $primaryColor;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.barError:before,
.barError:after {
    background: red;
}

.bar:before {
    left: 47%;
}

.bar:after {
    right: 47%;
}

.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
    width: 50%;
}

.span {
    color: #d2ff89;
    font-weight: 900;
    font-size: 30px;
    padding-top: 10px;
    -webkit-text-stroke: 0 white;
}

.input:focus ~ .span {
    -webkit-text-stroke: 0.02em white;
}

.input:focus ~ .spanError {
    color: red;
}