@import '../common/styles/sass/mixins';

.navbar {
  max-width: 406px;
  @include flex(row, space-between, center, 20px);
  list-style: none;

  .navbarItem {
    display: list-item;
    text-align: -webkit-match-parent;
    cursor: pointer;
    @include text($titleFontFamily, 20px, 400, 1.2, normal, $primaryTextColor);
    text-decoration: none;
    user-select: none;

    &:visited {
      color: $primaryTextColor;
    }
  }
}





