@font-face {
  font-family: 'Dashicons';
  src: url('../../../assets/fonts/dashicons.eot');
  src: url('../../../assets/fonts/dashicons.woff') format('woff'),
  url('../../../assets/fonts/dashicons.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../../../assets/fonts/JosefinSans-Bold.eot');
  src: local('☺'), url('../../../assets/fonts/JosefinSans-Bold.woff') format('woff'),
  url('../../../assets/fonts/JosefinSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../../../assets/fonts/JosefinSans-SemiBold.eot');
  src: local('☺'), url('../../../assets/fonts/JosefinSans-SemiBold.woff') format('woff'),
  url('../../../assets/fonts/JosefinSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../../../assets/fonts/JosefinSans-Medium.eot');
  src: local('☺'), url('../../../assets/fonts/JosefinSans-Medium.woff') format('woff'),
  url('../../../assets/fonts/JosefinSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../../../assets/fonts/JosefinSans-Regular.eot');
  src: local('☺'), url('../../../assets/fonts/JosefinSans-Regular.woff') format('woff'),
  url('../../../assets/fonts/JosefinSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../../../assets/fonts/JosefinSans-Light.eot');
  src: local('☺'), url('../../../assets/fonts/JosefinSans-Light.woff') format('woff'),
  url('../../../assets/fonts/JosefinSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../../assets/fonts/Poppins-Regular.eot');
  src: local('☺'), url('../../../assets/fonts/Poppins-Regular.woff') format('woff'),
  url('../../../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../../assets/fonts/Poppins-Medium.eot');
  src: local('☺'), url('../../../assets/fonts/Poppins-Medium.woff') format('woff'),
  url('../../../assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../../assets/fonts/Poppins-SemiBold.eot');
  src: local('☺'), url('../../../assets/fonts/Poppins-SemiBold.woff') format('woff'),
  url('../../../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../../assets/fonts/Poppins-Bold.eot');
  src: local('☺'), url('../../../assets/fonts/Poppins-Bold.woff') format('woff'),
  url('../../../assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Entypo';
  src: url('../../../assets/fonts/Entypo-webfont.eot');
  src: url('../../../assets/fonts/Entypo-webfont.eot') format('embedded-opentype'),
  url('../../../assets/fonts/Entypo-webfont.woff') format('woff'),
  url('../../../assets/fonts/Entypo-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'Ionicons';
  src: url('../../../assets/fonts/ionicons.eot');
  src: url('../../../assets/fonts/ionicons.eot') format('embedded-opentype'),
  url('../../../assets/fonts/ionicons.woff2') format('woff2'),
  url('../../../assets/fonts/ionicons.woff') format('woff'),
  url('../../../assets/fonts/ionicons.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'Dashicons';
  src: url('../../../assets/fonts/dashicons.eot');
  src: url('../../../assets/fonts/dashicons.woff') format('woff'),
  url('../../../assets/fonts/dashicons.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}