@font-face {
  font-family: 'Dashicons';
  src: url('../../../assets/fonts/dashicons.eot');
  src: url('../../../assets/fonts/dashicons.woff') format('woff'),
  url('../../../assets/fonts/dashicons.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Entypo';
  src: url('../../../assets/fonts/Entypo-webfont.eot'),
  url('../../../assets/fonts/Entypo-webfont.ttf') format('truetype'),
  url('../../../assets/fonts/Entypo-webfont.woff') format('woff'),
  url('../../../assets/fonts/Entypo-webfont.eot') format('embedded-opentype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ionicons';
  src: url('../../../assets/fonts/ionicons.eot');
  src: url('../../../assets/fonts/ionicons.woff2') format('woff2'),
  url('../../../assets/fonts/ionicons.woff') format('woff'),
  url('../../../assets/fonts/ionicons.ttf') format('truetype'),
  url('../../../assets/fonts/ionicons.eot') format('embedded-opentype');
  font-weight:normal;
  font-style:normal;
}
