@import './fonts.scss';

$primaryTextColor: #fff;
$secondaryTextColor: #9f9f9f;
$primaryColor: #009e66;
$bgColorPrimary: #1f1f20;
$bgColorSecondary: #282828;
$titleFontFamily: 'Josefin Sans', sans-serif;
$textFontFamily: 'Poppins', sans-serif;
$iconEntypoFontFamily: 'Entypo';
$iconDashIconsFontFamily: 'Dashicons';
$iconIonIconsFontFamily: 'Ionicons';