@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.projectsContainer {
  flex-direction: column;
  position: relative;
  z-index: 3;

  .projects {
    width: 100%;
    margin-top: 30px;
    @include flex(row, space-between, flex-start);
    flex-wrap: wrap;


    @media screen and (max-width: 1142px) {
      justify-content: center;
    }
  }
}