@import '../common/styles/sass/variables.scss';

.projectsBlock {
  /*min-height: 100vh;*/
  height: calc(100vh - 200px);
  width: 100%;
  padding: 100px 0;
  background-color: $bgColorPrimary;
  position: relative;
  z-index: 2;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
      margin-top: 30px;

      @media screen and (max-width: 1142px) {
        justify-content: center;
      }
    }
  }
}